<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


  </head>
  <body>

     <nav  class="navbar navbar-expand-lg navbar-light bg-primary" >
  <a class="navbar-brand" href="#">Asset Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

  </div>
</nav>





     <div class="card text-center">
  <div class="card-header">
   Student Login
  </div>
  <div class="card-body">
   <form action="/student_login2" method="post" style="margin-left:500px;margin-right:500px">
      {% csrf_token %}
  <div class="form-group">
    <label >Enter Registration Number:</label>
    <input type="text" class="form-control" id="id" name="id">
  </div>
  <div class="form-group">
    <label for="pwd">Enter Secret Code:</label>
    <input type="password" class="form-control" id="pwd" name="pwd">
  </div>

  <button type="submit" class="btn btn-default bg-primary">Login</button>
</form>
  </div>
</div>



{% if messages %}
<ul>
	{% for message in messages %}
	   <li class="msg">{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}





    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j"></script>

   </script>

  </body>
</html>