
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" type="text/css" href="{% static '/student_registration.css' %} ">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body id="f1" >

   {% include "in.html" %}

  <section class="container-fluid">

<section class="row justify-content-center">

 <section class="col-12 col-sm-6 col-md-3">

 <form role="form" method="post" action="/confirm_registration" style="border-style: solid;border-color: red;border-radius: 10px;background-color:#79d179">

      {% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">Student Registration Number</label>
    <input type="text" class="form-control" id="id" name="id" aria-describedby="emailHelp" required="true">

  </div>
      <div class="form-group">
    <label for="exampleInputEmail1">Student Email ID</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required="true">

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Student Name</label>
    <input type="text" class="form-control" id="name" name="name" required="true">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Student Batch</label>
    <input type="text" class="form-control" id="batch" name="batch" required="true">
  </div>
   <div class="form-group">
    <label for="exampleInputPassword1">Assign Secret Code</label>
    <input type="text" class="form-control" id="code" name="code" required="true">
  </div>
  <div class="select">
    <select name="hall" id="hall" required="true">
	 <option selected disabled > Choose student Hall</option>

	 <option value="KU Hall "> KU Hall </option>
	  <option value="AB Hall "> AB Hall </option>
        <option value="Mir Mosharraf Hossain Hall"> Mir Mosharraf Hossain Hall</option>
         <option value="Banglbandhu Sheikh Mujibur Rahman Hall">Bangabandhu Sheikh Mujibir Rahman Hall </option>
                 <option value="Shaheed Rafiq-Jabbbar Hall"> Shaheed Rafiq-Jabbar Hall </option>
                 <option value="Mowlana Bhashani Hall "> Mowlana Bhashani Hall</option>
                 <option value="Bishwakabi Rabindranath Tagore Hall"> Bishwakabi Rabindranath Tagore Hall </option>
                 <option value="Jahanara Imam Hall"> Jahanara Imam Hall </option>
                 <option value="Nawab Faizunnesa Hall">Nawab Faizunnesa Hall </option>







	</select>


  </div>

  <button type="submit" class="btn btn-primary mt-4" name="res" id="res" style="margin-left:50px;margin-bottom:5px;background-color:#de73c7" >Register Student</button>

</form>
 </section>

</section>

</section>

{% if messages %}
<ul>
	{% for message in messages %}
	   <li class="msg">{{ message }}</li>
	{% endfor %}
</ul>
{% endif %}




{% include "footer.html" %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
  </body>
</html>